.spacer {
  flex: 1 1 auto;
}
.titulo{
  color: white;
}

a {

  text-decoration: none;
  background-color: #002b5c;
  color: white;
  border-radius: 5px;

}

body{
  background: #004A9F;
}

.posterior{
  background: #004A9F;
}

mat-toolbar{
  background: #004A9F;
  flex: 1 1 auto;


}



