.body {
  display: flex;
  height: 100%;
  width: 100%;

  text-align: justify;
}

.login {
  display:block ;
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  text-align: center;
}

.ancho {
  width: 200px;
  min-width: 200px;
  max-width: 300px;
}

.boton {
  height: 70px;
}

.avatar {
  margin-top: 16px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.logo {
  margin-top: 1px;
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.spinner {
  margin: 0 auto;
}

.mat-form-field {
  height: 110px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 20px;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-appearance-outline > .mat-form-field-label {
  margin-top: -25px;
}

// PARA QUE BAJE LA LABEL
//::ng-deep label.ng-star-inserted {
//transform: translateY(-0.8em) scale(0.6) !important;
//}

::ng-deep .mat-form-field-label-wrapper {
  left: -15.1em;
  top: -2em;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-0.7em) scale(0.9) !important;
  width: 100%;
}

.mat-form-field-wrapper {
  height: 44px;
}

.mat-form-field-flex {
  height: 32px;
}

.mat-form-field-outline {
  border-radius: 25px;
  height: 28px;
}

.mat-form-field-outline-start {
  border-radius: borderRadius 0 0 borderRadius;
  width: 13px !important; // Override Material in-line style
}

.mat-form-field-outline-end {
  border-radius: 0 borderRadius borderRadius 0;
}

.mat-form-field-infix {
  left: 4px;
  padding: -1px;
  top: -7px;
  right: -7px;
}

.mat-form-field-label,
.mat-input-element {
  font-size: 20px;
}
.mat-form-field-label {
  text-align: center;
}

.mat-form-field-label-wrapper {
  left: -1.04375em;
}

.mat-form-field-label {
  height: 16px;
}
